*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
    font-family: 'Nanum Pen Script', cursive;
}
body{
    background-color: rgb(152, 235, 179);
}
h1{
    font-size: 4.5rem;
}
h2{
    font-size: 3rem;
    margin-top: .5rem;
    margin-bottom: 1rem;
}
h1, h2{
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    text-align: center;
}
p{
    font-size: 3.5rem;
}
span{
    font-size: 3.5rem;
}
.options{
    display:flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 2rem;
}
.match{
    display: grid;
    grid-template-columns: 1;
}
.userElection, .pcElection, .result{
    background-color: rgb(245, 252, 248);
}
button{
    background-color: rgb(252, 251, 198);
    font-size: 3rem;
    width: 20rem;
    display: inline;
}